R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
# Ensure you enable public access on your R2 bucket and set the URL here (e.g. https://pub-xxxxxxxxxxxxx.r2.dev or a custom domain)
R2_PUBLIC_URL=

ADMIN_USER=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=super_secret_jwt_key
PORT=3000
